/* Block */
.block {
    float: left;
}
#block_4_1, #block_4_3 {
    width: 270px;
}
#block_4_2 {
    width: 378px;
}
#block_4_4, #block_4_5 {
    width: 198px;
}
#block_3_4, #block_3_5 {
    width: 162px;
}
#block_4_4_2B, #block_4_5_2B, #block_3_4_1B, #block_3_5_1B,
#label_4_4_2B, #label_4_5_2B, #label_3_4_1B, #label_3_5_1B {
    width: 54px;
}
#block_4_4_2C, #block_4_5_2C, #block_4_4_2D, #block_4_5_2D,
#block_3_4_1C, #block_3_5_1C, #block_3_4_1D, #block_3_5_1D,
#label_4_4_2C, #label_4_5_2C, #label_4_4_2D, #label_4_5_2D,
#label_3_4_1C, #label_3_5_1C, #label_3_4_1D, #label_3_5_1D {
    width: 36px;
}
#block_4_4_2E, #block_4_5_2E,
#label_4_4_2E, #label_4_5_2E {
    width: 18px;
}
div[id^=block_4_4_2], div[id^=block_4_5_2] {
    height: 112px;
}
div[id^=block_3_4_1], div[id^=block_3_5_1] {
    height: 96px;
}

/* Separator */
.line {
    float: left;
    width: 18px;
}
.linenum {
    float: left;
    display: block;
    font-size: 10px;
    width: 18px;
    height: 16px;
    line-height: 16px;
    color: #BA5656;
}
.split {
    clear: both;
    width: 900px;
    height: 16px;
}
.label {
    float: left;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    color: red;
}
#bouble_4 {
    float: left;
    width: 558px;
    height: 128px;
}
#bouble_3 {
    float: left;
    width: 504px;
    height: 112px;
}
#bouble_3l {
    float: left;
    width: 72px;
    height: 112px;
}

/* Row */
.row {
    height: 16px;
}

/* Seat */
a {
    display: block;
    color: #111111;
}
.seat, .seat_blank, .seat_forbid {
    display: block;
    float: left;
    font-size: 10px;
    width: 16px;
    height: 14px;
    line-height: 14px;
    margin: 1px;
}
.seat {
    color: #111111;
}
.seat_blank {
    color: #000000;
}
.seat_forbid {
    color: #404040;
    background: #404040;
}
