/* Visibility Init */
#message, #floor_type, #floor_4, #floor_3, #floor_2, #form, #statistic {
    display: none;
}

/* Floor */
#container_4 {
    margin: 0 auto;
    width: 954px;
    height: 336px;
}
#container_3 {
    margin: 0 auto;
    width: 954px;
    height: 320px;
}
#container_2 {
    margin: 0 auto;
    width: 882px;
    height: 512px;
}
#container_form {
    margin: 0 auto;
    width: 360px;
    height: 40px;
}
.container_graph {
    padding-top: 15px;
    margin: 0 auto;
    width: 840px;
    height: 25px;
}
#container_type {
    margin: 0 auto;
    width: 750px;
    height: 25px;
}

/* Icons */
div[class^=graphicon] {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.graphlabel {
    display: block;
    float: left;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
    width: 90px;
    height: 25px;
    line-height: 25px;
    color: #4A4A4A;
}

.graphicon_1, .seat_type_0 {
    background: #BAE89B;
}
.graphicon_2, .seat_type_1 {
    background: #80AEED;
}
.graphicon_3, .seat_type_2 {
    background: #E7EB73;
}
.graphicon_4, .seat_type_3 {
    background: #EBB391;
}
.graphicon_5, .seat_type_4 {
    background: #FF7575;
}
.graphicon_6, .seat_type_5 {
    background: #8a8a8a;
}
.graphicon_7, .seat_type_6 {
    background: #404040;
}
.seat_select {
    background: #AE00ED;
}

/* Form */
.showsetting {
    float: left;
    font-size: 18px;
    width: 150px;
    height: 25px;
    line-height: 25px;
}
#isShowType0 { color: #4A4A4A; }
#isShowType1 { color: #2D1DBF; }
#isShowType2 { color: #AD882F; }
#isShowType3 { color: #1A9E2A; }
#isShowType5 { color: #852FAD; }
#submit_occupy, #submit_sale, #submit_clear {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
#submit_occupy {
    background: #FFB0B0;
}
#submit_occupy:hover {
    background: #FF8C8C;
}
#submit_sale {
    background: #CCCCCC;
}
#submit_sale:hover {
    background: #BBBBBB;
}
#submit_clear {
    background: #9FEDA5;
}
#submit_clear:hover {
    background: #75EB7F;
}
